@model Pessoa


<div class="row">
    <div id="carroseul" class="col">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-1.png" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-2.png" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-3.png" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/images/imagem-4.png" />
                    </li>
                </ul>
            </div>
            <div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            </div>
            <div>	    </div>

        </div>
    </div>
</div>


<div class="row">
    <div id="menu">
        <ul>
            <li>
                <div class="icon mysprite brasil" ></div>
                @*<img class="icon mysprite" src="~/images/brasil.png" />*@
                Brasil
            </li>
            <li>
                <div class="icon mysprite alemanha"></div>

                @*<img class="icon mysprite" src="~/images/alemanha.png" />*@
                Alemanha
            </li>
            <li>
                <div class="icon mysprite grecia"></div>

                Grecia
            </li>
            <li>
                <div class="icon mysprite eua"></div>

                @*<img class="icon mysprite" src="~/images/eua.png" />*@
                EUA
            </li>
            <li>
                <div class="icon mysprite canada"></div>

                @*<img class="icon mysprite" src="~/images/canada.png" />*@
                Canada
            </li>
            <li>
                <div class="icon mysprite argentina"></div>

                @*<img class="icon mysprite" src="~/images/argentina.png" />*@
                Argentina
            </li>
            <li>
                <div class="icon mysprite japao"></div>

                @*<img class="icon mysprite" src="~/images/japao.png" />*@
                Japão
            </li>
            <li>
                <div class="icon mysprite italia"></div>

                @*<img class="icon mysprite" src="~/images/italia.png" />*@
                Italia
            </li>
            <li>
                <div class="icon mysprite espanha"></div>

                @*<img class="icon mysprite" src="~/images/espanha.png" />*@
                Espanha
            </li>
            <li>
                <div class="icon mysprite portugal"></div>

                @*<img class="icon mysprite" src="~/images/portugal.png" />*@
                Portugal
            </li>
        </ul>
    </div>
</div>



<vc:noticias noticias-urgentes="true" total="6"></vc:noticias>
